.formField{
  @apply outline-none shadow-none px-4 py-[18px] bg-light-gray-1 w-full h-[54px] dark:bg-light-gray-6
  rounded-2xl text-light-gray-8-text  dark:text-light-gray-white
  placeholder:text-light-gray-8-text mb-2  dark:placeholder:text-light-gray-3 font-gerbera-h3
}

.formField[data-invalid]{
  @apply  mb-0 dark:bg-light-gray-6 dark:text-light-gray-5 placeholder:text-light-gray-5  
}
.error{
  @apply dark:font-gerbera-sub2 dark:font-normal text-light-error-red w-full pb-1 text-left pl-4 font-gerbera-sub1 font-light
}
/* .formFieldBirthday{
  @apply outline-none shadow-none px-4 py-[18px] bg-light-gray-1 w-full h-[54px] dark:bg-light-gray-6
  rounded-2xl text-light-gray-8-text dark:text-light-gray-white 
  placeholder:text-light-gray-8-text dark:placeholder:text-light-gray-3 font-gerbera-h3
} */

/* .formFieldBirthday[data-invalid]{
  @apply bg-light-error-back dark:text-light-gray-8-text  placeholder:text-light-gray-5
} */

/* .bgImage{
background-image: url( "../../src/assets/icons/tap_calendar.svg");
background-repeat: no-repeat;
background-position: 90%;
} */


/* .bgImageInputOptions{
  background-image: url( "../../src/assets/icons/greenTickForCalendar.svg");
  background-repeat: no-repeat;
  background-position: 2%;
  } */

  
 .concentTopersonalData{
    ::-webkit-scrollbar {
     @apply w-[8px] 
   }
   ::-webkit-scrollbar-track {
     @apply bg-light-gray-1 rounded-2xl dark:bg-light-gray-7-logo ;
   }
   ::-webkit-scrollbar-thumb {
     @apply bg-light-gray-2 rounded-2xl dark:bg-light-gray-6
   }  
   }
  
  
  
  