#root {
  width: full;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid black;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s  infinite; /* Safari */
  /* animation: spin 2s linear infinite;
} */


/* @-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}  */

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: black;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
  -webkit-animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(51, 122, 183, 0), 0px 0 rgba(51, 122, 183, 0), 0px 0 rgba(51, 122, 183, 0), 0px 0 rgba(51, 122, 183, 0);
  }
  12% {
    box-shadow: 100px 0 #BFBFBF, 0px 0 rgba(51, 122, 183, 0), 0px 0 rgba(51, 122, 183, 0), 0px 0 rgba(51, 122, 183, 0);
  }
  25% {
    box-shadow: 110px 0 #BFBFBF, 100px 0 #BFBFBF, 0px 0 rgba(51, 122, 183, 0), 0px 0 rgba(51, 122, 183, 0);
  }
  36% {
    box-shadow: 120px 0 #BFBFBF, 110px 0 #BFBFBF, 100px 0 #BFBFBF, 0px 0 rgba(51, 122, 183, 0);
  }
  50% {
    box-shadow: 130px 0 #888888, 120px 0 #888888, 110px 0 #888888, 100px 0 #888888;
  }
  62% {
    box-shadow: 200px 0 #888888, 130px 0 #888888, 120px 0 #888888, 110px 0 #888888;
  }
  75% {
    box-shadow: 200px 0 rgba(51, 122, 183, 0), 200px 0 rgba(51, 122, 183, 0), 130px 0 #888888, 120px 0 #888888;
  }
  87% {
    box-shadow: 200px 0 rgba(51, 122, 183, 0), 200px 0 rgba(51, 122, 183, 0), 200px 0 rgba(51, 122, 183, 0), 130px 0 #888888;
  }
  100% {
    box-shadow: 200px 0 rgba(51, 122, 183, 0), 200px 0 rgba(51, 122, 183, 0), 200px 0 rgba(51, 122, 183, 0), 200px 0 rgba(51, 122, 183, 0);
  }
}